html {
    height: 100%
}

body {
    height: 100%; margin: 0; padding: 0
}

#map {
    height: 100%;
}

#predictions {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #fff;
    width: 30%;
    height: 100%;
    display: none;
    overflow: auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#predictions .direction {
  max-width: calc(100% - 11em);
}

#predictions .label,
#predictions .badge {
    margin-left: 3px;
}

.close.mobile {
  display: none;
}
.close.desktop {
  display: block;
}

@media all and (max-width: 600px) {
  #predictions {
    width: 100%;
  }
  
  .close.mobile {
    display: block;
  }
  
  .close.desktop {
    display: none;
  }
}
